{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=150px width=150px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Molecular Biologist who dabbles in R.</h3>
        <h3>I have 3 years of experience in plant genetic engineering in an academic lab and 1.5 years of experience in industry at Asuragen developing a novel PCR/CE diagnostic test. I currently work as a Research Assistant at Luna Genetics developing a new type of prenatal diagnostic test.</h3>
        <h3>I graduated from the University of Texas in 2019 with a BS in Biology, Genetics and Genomics. I maintained a 4.0 GPA and received the highest academic honors every semester. I am well versed in NGS, PCR/CE, plasmid engineering, protein purification, and various other cell and molecular biology techniques.</h3>
        <h3>Outside of molecular biology, I enjoy mountain biking, reading, and playing music.</h3>
        <h3>Have a look at some of my working R <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="Resume_Mason Ouren_2019-11-05.pdf">resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
